@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

.container {
    max-width: 896px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

nav {
    padding: 27px 60px 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
}

nav ul li a {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover {
    color: #FF6464;
}

nav .hamb {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    outline: none;
    background: none;
    display: none;
}

nav .hamb span {
    width: 100%;
    height: 2px;
    background-color: #21243D;
}

.hero {
    padding: 140px 0 71px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-text {
    padding-top: 20px;
    width: 500px;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}

.hero-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
}

.hero-text a {
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    padding: 9px 21px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.hero-img {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    position: relative;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero-img:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #EDF7FA;
    transform: translate(-5px, 13px);
    position: absolute;
    border-radius: 50%;
}

.section-1 {
    background-color: #EDF7FA;
    display: flex;
    flex-direction: column;
    padding: 7px 0 32px;
}

.section-1 .container {
    display: flex;
    justify-content: space-between;
}

.section-1 .ul-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 .ul-1 li:first-child {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.section-1 .ul-1 li:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
}

.section-1 .card {
    width: 418px;
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px 23px 7px 23px;
}

.section-1 .card h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 17px;
    width: 374px;
}

.section-1 .card ul {
    display: flex;
    margin-bottom: 11px;
    line-height: 26px;
}

.section-1 .card ul li {
    font-weight: 400;
    font-size: 18px;
}

.section-1 .card ul li:first-child {
    padding-right: 30px;
    border-right: 1px solid;
}

.section-1 .card ul li:last-child {
    padding-left: 30px;
}

.section-1 .card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.section-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0 83px 0;
}

.section-2 .container {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.section-2 h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 22px;
}

.section-2 .item {
    display: flex;
    gap: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.section-2 .item .text h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 9px;
    color: #21243D;
}

.section-2 .item .text ul {
    display: flex;
    align-items: center;
    gap: 26px;
}

.section-2 .item .text ul li:first-child {
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}

.section-2 .item .text ul li:last-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.section-2 .item .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 17px;
}

.section-2 .item:last-child p {
    width: 507px;
    margin-top: 32px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding: 55px;
}

footer .text h1 {л
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}

@media (max-width: 480px) {
    .hero .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 34px;
    }

    .hero .hero-img {
        width: 170px;
        height: 170px;
    }

    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-text h1 {
        width: 312px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    .hero .hero-text p {
        width: 328px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }

    nav .hamb {
        display: flex;
    }

    nav ul {
        display: none;
    }

    .hero {
        padding: 30px 0 58px;
    }

    .section-1 {
        padding-bottom: 38px;
    }

    .section-1 .container {
        justify-content: center;
        align-items: center;
        gap: 17px;
        flex-wrap: wrap;
    }

    .section-1 .ul-1 {
        display: flex;
        justify-content: center;
    }

    .section-1 .ul-1 li:last-child {
        display: none;
    }

    .section-1 .card {
        width: 354px;
        height: 266px;
        padding: 12px 8px 22px 19px;
    }

    .section-1 .card h1 {
        font-size: 22px;
        line-height: 30px;
        width: 327px;
    }

    .section-1 .card ul li {
        font-size: 16px;
    }

    .section-1 .card ul li:first-child {
        padding-right: 24px;
    }

    .section-1 .card ul li:last-child {
        padding-left: 24px;
    }

    .section-1 .card p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        width: 314px;
    }

    .section-2 {
        padding-bottom: 150px;
    }

    .section-2 h2 {
        font-size: 18px;
        line-height: 60px;
        margin: 3px 0;
        text-align: center;
    }

    .section-2 .item {
        flex-wrap: wrap;
    }

    .section-2 .item .img img {
        width: 339px;
        height: 230px;
    }

    .section-2 .item .text h1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    .section-2 .item .text ul li:first-child {
        font-weight: 900;
        font-size: 16px;
    }

    .section-2 .item .text ul li:last-child {
        font-size: 16px;
        line-height: 24px;
    }

    .section-2 .item .text p {
        margin-top: 25px;
        width: 350px;
    }

    .section-2 .item {
        padding-bottom: 17px;
    }
}